@charset "utf-8";

/* CSS Document */

.Main {
    max-width: 1200px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

.Main hr {
    margin-top: 0px;
}

.Main .title-background {
    padding: 30px 50px 0 30px;
    margin-bottom: -8px;
}

.Main .title {
    color: red;
    text-shadow: 5px 0 5px #B8B8B8;
    padding: 5px;
    text-transform: uppercase;
}

.Main .title-price {
    text-transform: none;
    color: red;
    font-size: 0.6em;
    font-weight: 400;
}

.Main .container {
    margin: 0 40px 20px 20px;
    background-color: #FFEBF5;
    box-shadow: 0 1px 10px #D3D3D3;
    border-radius: 20px;
    padding: 15px 15px 20px 20px;
}

.Main .sanpham {
    width: 23%;
    text-align: center;
    margin: 15px 10px;
    box-shadow: 0 1px 10px #C7C4C5;
    border-radius: 20px;
    background-color: white;
}

.Main .sanpham:hover {
    box-shadow: 0 1px 10px #FF5EE0;
}

.sanpham a {
    color: black;
}

.sanpham a:visited {
    color: black;
}

.Main .sanpham .p-img {
    display: block;
    width: 100%;
    height: 200px;
    line-height: 200px;
    background-color: white;
    border-radius: 20px 20px 0 0;
}

.Main .sanpham img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    margin-bottom: 3.5px;
    border-radius: 15px;
}

.Main .sanpham .p-name {
    display: block;
    text-decoration: none;
    font-weight: bold;
    height: 40px;
    margin: 10px 0;
    font-size: 100%;
    line-height: 20px;
}

.Main div.sanpham {
    float: left;
}

.Main .gia {
    color: hotpink;
    font-size: 120%;
    margin: 10px;
    margin-top: 0px;
}

.Main .giacu {
    margin-top: 0px;
    text-decoration: line-through;
    font-size: 80%;
    color: darkgrey;
}

.Main .sanpham button {
    border: none;
    padding: 12px;
    color: white;
    background-image: linear-gradient(135deg, #DD4920, #e63188);
    text-align: center;
    cursor: pointer;
    width: 60%;
    font-size: 18px;
    border-radius: 30px;
}

.Main .sanpham button:hover {
    opacity: 0.7;
}

.Main .sanpham .hethang {
    background-image: linear-gradient(135deg, #A4A4A4, #5A5A5A);
    cursor: inherit;
}

.Main .sanpham .hethang:hover {
    opacity: 1;
}

.Main .xemtatca {
    float: right;
    font-size: 20px;
    padding-top: 10px;
    cursor: pointer;
    text-decoration: none;
    color: dodgerblue;
    margin-top: 10px;
    margin-right: -15px;
}

.Main .sotrang {
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.Main .advsearch {
    position: absolute;
    background-image: linear-gradient(135deg, #DD4920, #e63188);
    color: whitesmoke;
    font-size: 1.2em;
    padding: 10px;
    border-radius: 15px;
    top: -70%;
    right: 25%;
    outline: none;
}

.sotrang .so {
    display: inline-block;
    background-color: white;
    width: 40px;
    height: 25px;
    box-shadow: 0 1px 10px #BCBCBC;
    border-radius: 25%;
    margin: 2px;
}

.so a {
    text-decoration: none;
    color: royalblue;
}

.so a:visited {
    color: blue;
}

.sotrang .currentpage {
    background-color: lightcoral;
    color: white;
}

.sotrang .currentpage a:hover {
    color: white;
}

#advsearch .tieude {
    font-size: 1.2em;
    font-weight: 600;
}

#advsearch .luachon {
    border-radius: 5px;
    border: 2px solid #DD4920;
    outline: none;
    width: 150px;
}


/*For small screen*/

@media only screen and (max-width: 770px) {
    .Main .container {
        margin-left: 2%;
    }
    .Main .sanpham {
        width: 40%;
    }
    .Main .gia {
        padding-top: 5%;
    }
    .Main .sanpham .p-name {
        font-size: 18px;
    }
    
    .Main .advsearch {
        margin-top: -17.5%;
        margin-right: -25%;
    }
    
    #advsearch .row:first-child{
        width: 30%;
        float: left;
    }
    
    #advsearch .row:last-child{
        width: 70%;
        float: right;
    }
    
    #advsearch .luachon{
        width: 100px;
    }
}

@media only screen and (max-width: 550px) {
    .Main h1 {
        font-size: 200%;
        text-align: center;
    }
    .Main .xemtatca {
        padding-top: 5px;
        font-size: 70%;
    }
    .Main .sanpham {
        width: 40%;
        font-size: 10px;
    }
    .Main .sanpham .p-img {
        height: 100px;
        line-height: 100px;
        padding-bottom: 1px;
    }
    .Main .sanpham .p-name {
        font-size: 100%;
        height: 30px;
        line-height: 15px;
    }
    .Main .gia {
        font-size: 120%;
        margin: 0;
        padding-bottom: 10px;
    }
    .Main .giacu {
        margin-left: 5px;
        font-size: 100%;
    }
    .Main .sanpham button {
        padding: 9px;
        font-size: 13px;
    }
}