@charset "utf-8";
/* CSS Document */

.Main {
	max-width: 1200px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}

.Main hr{
    margin-top: 0px;
}

.Main .title-background{
    padding: 30px 50px 0 30px;
    margin-bottom: -8px;
}

.Main .title{
    color: red;
    text-shadow: 5px 0 5px #B8B8B8;
	padding:5px;
    text-transform: uppercase;
}

.Main .container{
    margin: 0 40px 20px 20px;
    background-color: #FFEBF5;
    box-shadow: 0 1px 10px #D3D3D3;
    border-radius: 20px;
    padding: 15px 15px 20px 20px;
}

.Main .xemtatca{
    float:right;
    font-size: 20px;
    padding-top: 10px;
    cursor: pointer;
    text-decoration: none;
	color: dodgerblue;
    margin-top: 10px;
    margin-right: -15px;
}

.timkiemnangcao{
    margin-bottom: 25px;
}

.timkiemnangcao .luachon{
    float: left;
    margin-right: 20px;
    color: darkblue;
}

.luachon input[type=submit]{
    border: none;
    color: white;
    background-color: #FF006E;
    height: 25px;
    border-radius: 5px;
}

.timkiemnangcao .selectprice{
    width: 100px;
    height: 25px;
}

.Main .sanpham{
    width: 23%;
    text-align: center;
    margin: 15px 10px;
    box-shadow: 0 1px 10px #C7C4C5;
    border-radius: 20px;
    background-color: white;
}

.Main .sanpham:hover{
    box-shadow: 0 1px 10px #FF5EE0;
}

.sanpham a{
    color: black;
}

.sanpham a:visited{
    color: black;
}

.Main .sanpham .p-img{
    display: block;
    width: 100%;
    height: 200px;
    line-height: 200px;
    background-color: white;
    border-radius: 20px 20px 0 0;
}

.Main .sanpham img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    margin-bottom:  3.5px;
    border-radius: 15px;
}

.Main .sanpham .p-name{
    display: block;
    text-decoration: none;
    font-weight: bold;
    height: 40px;
    margin: 10px 0;
    font-size: 100%;
    line-height: 20px;
}

.Main div.sanpham{
    float:left;
}

.Main .gia {
    color: hotpink;
    font-size: 120%;
    margin: 10px;
    margin-top: 0px;
}

.Main .giacu{
    margin-top: 0px;
    text-decoration: line-through;
    font-size: 80%;
    color: darkgrey;
}

.Main .sanpham button {
    border: none;
    padding: 12px;
    color: white;
    background-image: linear-gradient(135deg, #DD4920, #e63188);
    text-align: center;
    cursor: pointer;
    width: 60%;
    font-size: 18px;
    border-radius: 30px;
}

.Main .sanpham button:hover {
    opacity: 0.7;
}

.Main .sanpham .hethang{
    background-image: linear-gradient(135deg, #A4A4A4, #5A5A5A);
    cursor: inherit;
}

.Main .sanpham .hethang:hover{
    opacity: 1;
}

.Main .sotrang{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}

.sotrang .so{
    display: inline-block;
    background-color: white;
    width: 40px;
    height: 25px;
    box-shadow: 0 1px 10px #BCBCBC;
    border-radius: 25%;
    margin: 2px;
}

.so a{
    text-decoration: none;
    color: royalblue;
}

.so a:visited{
    color: blue;
}

.sotrang .currentpage{
    background-color: lightcoral;
    color: white;
}

.sotrang .currentpage a:hover{
    color: white;
}

/*For small screen*/
@media only screen and (max-width: 1200px){
    .Main .sanpham button{
        padding: 10px;
        font-size: 12px;
    }
}
@media only screen and (max-width: 1000px){
    .Main .title{
        font-size: 70%;
    }
    
    .Main .xemtatca{
        font-size: 40%;
    }
}

@media only screen and (max-width: 770px){
    .Main .container{
        margin-left: 2%;
    }
    
    .Main .sanpham{
        width: 40%;
    }
    
    .Main .gia{
        padding-top: 5%;
    }
    
    .Main .sanpham .p-name{
        font-size: 18px;
    }
}

@media only screen and (max-width: 550px) {
    .Main h1{
        font-size: 200%;
        text-align: center;
    }
    
    .Main .xemtatca{
        padding-top: 5px;
        font-size: 70%;
    }
    
    .Main .sanpham{
        width: 40%;
        font-size: 10px;
    }
    
    .Main .sanpham .p-img{
        height: 100px;
        line-height: 100px;
        padding-bottom: 1px;
    }
    
    .Main .sanpham .p-name{
        font-size: 100%;
        height: 30px;
        line-height: 15px;
    }
    
    .Main .gia{
        font-size: 120%;
        margin:0;
        padding-bottom: 10px;
    }
    
    .Main .giacu{
        margin-left: 5px;
        font-size: 100%;
    }
    
    .Main .sanpham button{
        padding: 9px;
        font-size: 13px;
    }
}