@charset "utf-8";
/* CSS Document */
.dangnhap{
    position: fixed;
    left: 15%;
    top: 20%;
    background-color: ghostwhite;
    width: 70%;
    height: 60%;
    border-radius: 10px;
    box-shadow: 0 1px 10px #f4f4f4;
}

.khungdangnhap{
    float: left;
    width: 40%;
    height: 100%;
}

.imageslogin{
    float: right;
    width: 60%;
    height: 100%;
}

.quantiwebsite{
    float: left;
    width: 100%;
    text-align: center;
    color: blue;
}

form{
    text-align: center;
}

form .input{
    position: relative;
}

form .input i{
    color: grey;
    position: absolute;
    left: 13.5%;
    top: 30%;
}

form input[type=text], form input[type=password]{
    width: 75%;
    margin: 2px;
    padding: 10px 20px;
    border-radius: 5px;
}

form input[type=submit]{
    background-color: #A70045;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.forget{
    margin: 2% 13.5%;
    cursor: help;
}

#forget_pass{
    margin: 0 13.5%;
}

/*For small screen*/
@media only screen and (max-width: 1000px) {
    .khungdangnhap{
        width: 100%;
    }
    
    .imageslogin{
        display: none;
    }
}

@media only screen and (max-width: 400px){
    .dangnhap{
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}