@charset "utf-8";
/* CSS Document */
.row{
    margin: 5%;
}

.muc {
	border-radius: 10px;
	margin: 10px;
    width: 31.3%;
    outline: none;
    box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.sanpham{
    background-image: linear-gradient(to bottom, #FF4FF3 0%, #C10066 100%);
}

.khachhang{
    background-image: linear-gradient(to bottom, #38ef7d 0%, #11998e 100%);
}

.donhang{
    background-image: linear-gradient(to bottom, #E8FF00 0%, #FF6700 100%);
}

.muc-soluong {
	font-size:30px;
	font-weight: bold;
	width:40%;
	float:left;
	padding-left: 40px;
	padding-top: 10px;
    color: white;
}

.muc-icon {
	font-size: 50px;
	text-align: right;
	width: 50%;
	float: left;
	padding-right: 10px;
	padding-top: 5px;
    color: white;
}

.muc-tieude {
	font-size: 40px;
	font-weight: bolder;
	text-align: center;
	padding-top: 5px;
	color: rgba(255, 255, 255, 0.6);
}

.muc:hover .muc-icon{
	animation: shake 0.5s;
  	animation-iteration-count: infinite;
}

.bieudo{
    float: left;
    margin: 0 1% 4% 1%;
    margin-top: 0;
    width: 25%;
}

.left{
    margin-left: 5%;
}

.right{
    margin-right: 5%;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media only screen and (max-width: 1200px){
    .muc-icon{
        padding: 0px;
    }
    
    .muc-soluong{
        padding-left: 10px;
    }
}

@media only screen and (max-width: 600px){
    .muc-icon{
        display: none;
    }
    
    .bieudotron{
        width: 650px;
    }
}