@charset "utf-8";
/* CSS Document */
#thongtincanhan{
    width: 90%;
    margin: 5%;
    background-color: white;
    border-radius: 10px;
    align-content: center;
}

.content{
    margin: 30px 25%;
}

.title{
    font-weight: bold;
    width: 100%;
    padding: 30px 30px;
}

.title h3{
    float: left;
    display: inline-block;
}

.edit{
    display: inline-block;
    text-decoration: none;
    margin-left: 20px;
}

.hinhanh{
    position: relative;
    height: 150px;
    width: 150px;
    margin-top: 30px;
    text-align: center;
    border: 2px solid #007bff;
}

form img{
    max-height: 100%;
    max-width: 100%;
}

.icon{
    position: absolute;
    background-color: #007bff;
    width: 25px;
    height: 25px;
    color: white;
    bottom: 0;
    right: 0;
    text-align: center;
}

.icon:hover{
    cursor: pointer;
}

input[type=submit], input[type=reset]{
    background-color: transparent;
    border: none;
    color: #007bff;
    font-weight: bold;
    display: none;
    float: left;
}

input[type=submit]:hover, input[type=reset]:hover{
    text-decoration: underline;
}

.thongtin{
    width: 100%;
    padding: 0 30px;
}

.thongtin dl dd{
    float: left;
}

.thongtin dl dd:first-child {
    width: 170px;
    margin-right: 5px;
    font-weight: bold;
}

.thongtin input:disabled, .thongtin textarea:disabled, .thongtin select:disabled{
    background-color: transparent;
    color: black;
    border: none;
    width: 300px;
    -webkit-appearance: none;
    appearance: none;
}

.popup-themsp{
	display: none;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
}

.popup-themsp__content{
	position: absolute;
	top: 50%;
	left: 50%;
	background: white;
	width: 500px;
	height: 500px;
	transform: translate(-50%,-50%);
	border-radius: 15px;
}

.popup-themsp__title{
	text-align: center;
	font-size: 20px;
	padding: 30px;
	background-image: linear-gradient(135deg, #A70045 0%, #6100FF 100%);
    color: white;
    font-weight: bold;
}

.popup-themsp-left{
	float: left;
	width: 45%;
	text-align: right;
}

.popup-themsp-right{
	float: right;
	width: 50%;
}

.popup-themsp-left__label,.popup-themsp-left__input{
	margin-top: 20px;
	height: 35px;
}

.popup-themsp-left__input input{
	border:0;
	margin-top: 0;
	border-bottom: 2px solid #CBCBCB;
	padding: 0 0 5px  5px;
	text-indent: 5px;
	outline: none;
	cursor: default;
}

.popup-themsp-middle input{
	width: 50%;
	margin-left: 30%;
    margin-top: 30%;
}

.popup-themsp__btn{
	position: relative;
	background-image: linear-gradient(135deg, #A70045 0%, #6100FF 100%);
	border: 1px solid #CBCBCB;
	padding: 20px;
	font-size:20px;
	width: 200px;
	color: white;
	transition: 0.3s;
	border-radius: 10px;
	margin-top: 120px;
	left: 160px;
}

.popup-themsp__btn:hover{
	cursor: pointer;
}

.back{
	position: absolute;
	top: 5px;
	right: 20px;
	font-size: 35px;
	color: gray;
}

.back:hover{
	cursor: pointer;
	color: red;
	text-shadow: 0px 0 3px red;
}