@charset "utf-8";
/* CSS Document */
.them-tk{
    display: contents;
}

.them-tk button{
    background-color: #6100FF;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    float: right;
    margin-top: 20px;
}

.table-caption {
	float: left;
}

#table-user{
    background-color: white;
    box-shadow:  0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    border: none;
}

caption{
    caption-side: top;
    color:#A70045;
}

table{
	margin: auto;
    width: 90%;
}

table tbody tr {
	border: none;
	text-align: center;
}

table thead th {
	border-bottom: none;
}

table tbody td {
	border-bottom: 2px solid #f5f5f5;
}

th a{
    color: white;
}

th a:hover{
    color: white;
    text-decoration: none;
}

.xoa_user,.sua_user{
	height: 33px;
	width: 65px;
	background-color: #F0F0F0;
	color: #6100FF;
	border: 1px solid #C8CED3;
	margin: 3px;
	transition: 0.3s;
	outline: none;
}

.xoa_user:hover,.sua_user:hover{
	background: #2F353A ;
	border: 1px solid #2F353A;
	color: white;
	cursor: pointer;
}

.popup-themuser{
	display: none;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
}

.popup-themuser__content{
	position: absolute;
	top: 50%;
	left: 50%;
	background: white;
	width: 650px;
	height: 750px;
	transform: translate(-50%,-50%);
	border-radius: 15px;
}

.popup-themuser__title{
	text-align: center;
	font-size: 20px;
	padding: 30px;
	background-image: linear-gradient(135deg, #A70045 0%, #6100FF 100%);
    color: white;
    font-weight: bold;
}

.popup-themuser-left{
	float: left;
	width: 45%;
	text-align: right;
    font-weight: bold;
}

.popup-themuser-right{
	float: right;
	width: 50%;
}

.popup-themuser-left__label,.popup-themuser-left__input{
	margin-top: 20px;
	height: 35px;
}

.popup-themuser-left__input input{
	border:0;
	margin-top: 0;
	border-bottom: 2px solid #CBCBCB;
	padding: 0 0 5px  5px;
	text-indent: 5px;
	outline: none;
	cursor: default;
}

input[type=checkbox]{
	margin-left: 10px;
}

.popup-themuser__btn{
	position: relative;
	background-image: linear-gradient(135deg, #A70045 0%, #6100FF 100%);
	border: 1px solid #CBCBCB;
	padding: 20px;
	font-size:20px;
	width: 200px;
	color: white;
	transition: 0.3s;
	border-radius: 10px;
	margin-top: 50px;
	left: 230px;
}

.back{
	position: absolute;
	top: 5px;
	right: 20px;
	font-size: 35px;
	color: gray;
}

.back:hover{
	cursor: pointer;
	color: red;
	text-shadow: 0px 0 3px red;
}